.form-group{
    display: flex;
    flex-direction: column;
    margin: 50px 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color:#7A96FF ;
    border-radius: 10px;
    box-shadow: #7A96FF;
    padding: 100px;
}
#name{
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    line-height: 1.6;
    color: black;
    padding: auto;
}
#img{
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    line-height: 1.6;
    color: black;
    padding: auto;
}